* {
	margin: 0;
	padding: 0;
	font-family: calibri, arial, helvetica, serif;
}

.container {
	width: 960px;
	margin: auto;
}

#header {
	background: black;
	color: white;
	padding: 10px 20px;
	width: 920px;
	float: left;
}

#navigation {
	padding: 20px;
	width: 920px;
	float: left;
}

.link {

}

#main {
	width: 960px;
	float: left;
}

#left-container {
	float: left;
	width: 260px;
	padding: 0px 20px;
}

#right-container {
	float: left;
	width: 620px;
	padding: 0px 20px;
}

.text {
	margin-top: 20px;
}

.page-title {
	margin-top: 10px;
}


#built-with {
	float: left;
	width: 960px;
	margin-top: 40px;
}

.item {
	float: left;
	width: 300px;
	padding: 0 10px;
	text-align: center;
}
