* {
	margin: 0;
	padding: 0;
	font-family: calibri, arial, helvetica, serif;
}

.container {
	width: 960px;
	margin: auto;
}

#header {
	background: black;
	color: white;
	padding: 10px 20px;
	width: 920px;
	float: left;
}

#navigation {
	padding: 20px;
	width: 920px;
	float: left;
}

#navigation .left {
	float: left;
	width: 500px;
}

#navigation .right {
	float: left;
	width: 420px;
}

#navigation .right form {
	text-align: right;
}

.link {
	margin-right: 10px;
}

#main {
	width: 960px;
	float: left;
	margin-bottom: 100px;
}

#left-container {
	float: left;
	width: 260px;
	padding: 0px 20px;
}

#right-container {
	float: left;
	width: 640px;
	padding-right: 20px;
}

.text {
	margin-top: 10px;
}

.page-title {
	margin-top: 10px;
}


#built-with {
	float: right;
	width: 960px;
	margin-top: 40px;
	margin-bottom: 100px;
}

.item {
	float: left;
	width: 300px;
	padding: 0 10px;
	text-align: center;
}

.form-label {
	width: 250px;
}

.post {
	float: left;
	width: 600px;
	padding: 15px 20px;
	border: 1px solid gray;
	background: #E3F2FD;
}

.post-title {

}

.post-content {
	margin-top: 5px;
}

h3.title {
	margin-bottom: 10px;
	color: #1A237E;
}

.new-post {
	background: #90CAF9;
}

.new-post .left {
	float: left;
	width: 120px;
}

.new-post .right {
	float: left;
	width: 100px;
}

.new-post h3 {
	font-style: italic;
}

.post-input {
	width: 300px;
}

textarea.post-input {
	height: 80px;
}

.submit-post {
	width: 302px;
	padding: 3px 0;
}

#phone-number-search {
	margin-top: 30px;
}